body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  min-height: 2000px;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 10px 0;
  line-height: 120%;
}

p {
  margin: 0;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.ai-center {
  align-items: center;
}
.jc-spacebetween {
  justify-content: space-between;
}
.img-responsive {
  width: 100%;
}
.jc-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}
.bigTitle {
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  transform: translateY(-50%);
}
.bigTitle h2 {
  font-size: 20px;
  margin-top: 50px;
}
.bigTitle p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
@for $i from 1 through 12 {
  .col#{$i} {
    width: (100%/ (12 / $i)) - 3%;
    margin: 1, 5%;
  }
}

//nav
.nav {
  background-color: rgb(205, 246, 232);
  &-logo {
    h2 {
      a {
        text-decoration: none;
        color: white;
      }
    }
    margin: 1.5%;
  }
  &-menu {
    ul {
      list-style: none;
      display: flex;
      li {
        a {
          display: inline-block;
          padding: 10px;
          text-decoration: none;
          color: white;
        }
      }
    }
    margin: 1, 5%;
  }
}

//hero
.hero {
  background: url(https://images.unsplash.com/photo-1572810677431-9a662da8d284?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=800);
  height: 700px;
  background-attachment: fixed;
  background-size: 100%;
}
.description {
  padding: 5% 0;
  &-item {
    padding: 5% 0;
    h2 {
      font-size: 5em;
      color: white;
      line-height: 120%;
      letter-spacing: -1px;
      margin: 5px 0;
    }
    p {
      font-size: 20px;
      color: white;
      line-height: 180%;
    }
  }
}

// content

.content {
  padding: 5% 0;
  &-item {
    padding: 10% 0;
    h3 {
      font-size: 1.8em;
    }
  }
}

// product
.product {
  padding: 5% 0;
  background-color: rgb(176, 185, 182);
  &-item {
    h4 {
      margin: 0;
    }
    box-shadow: 1px 1px 12px 1px rgb(143, 152, 149);
    .pi-detail {
      background: white;
      padding: 20px 20px;
      h4 {
        margin: 0;
        padding: 0;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
